#hero {
    
    h1 {
        color:white;
    }

    h4 {
        color:white;
    }

    background: url('/assets/bg.jpg');
    background-size: cover;
    background-position: 0 60%;
}

.hero-img {
    width: 80%;
}
