//navbar
@import "../scss/navbar";

//body markup
@import "../scss/hero";

//bottom part
@import "../scss/bottom";

//primary colors
$green:       #00FFC4;
$primary:       $green;
$link-color:    $green;
$body-bg:     #1a1b1d;

//main-font
$font-family: 'Raleway', sans-serif;

//extra spacer settings
$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 9)
  ),
  $spacers
);

body {
  overflow:hidden;
}

//main-import
@import "../node_modules/bootstrap/scss/bootstrap.scss";





