@import "/scss/navbar";



body {
    
    h1 {
        color:white;
    }

    h4 {
        color:white;
    }
}

#hero{
    background: url('/assets/bg.jpg');
    background-size: cover;
    background-position: 0 60%;
}




h1 {
    font-weight: bold;
    font-size: 3.5em;
}

.hero-img {
    width: 80%;
}

$green:       #00FFC4;
$primary:       $green;
$link-color:    $green;
$body-bg:     #1a1b1d;

$font-family: 'Raleway', sans-serif;

$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 9)
  ),
  $spacers
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";





