//navbar
@import "../scss/navbar";

//body markup
@import "../scss/body";

#hero{
    background: url('/assets/bg.jpg');
    background-size: cover;
    background-position: 0 60%;
}

.hero-img {
    width: 80%;
}

#join-container {
    background: url(/assets/screen1.jpg) no-repeat;
    background-size: cover;

    h2 {
        letter-spacing: 4px;
        font-weight: bold;
        color: white;
    }

    h4 {
        color: grey;
    }

    .form-control {
        background: #1f1f1f;
        border: 3px solid #2f2f2f;
        padding: 10px;
    }

    .btn {
        padding: 12px;
        border: none;
        color: #000;
        cursor: pointer;
    }
}


//primary colors
$green:       #00FFC4;
$primary:       $green;
$link-color:    $green;
$body-bg:     #1a1b1d;

//main-font
$font-family: 'Raleway', sans-serif;

//extra spacer settings
$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 9)
  ),
  $spacers
);

//main-import
@import "../node_modules/bootstrap/scss/bootstrap.scss";





